* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */
    /* topbar */

.topbar {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-decoration: none;
    flex-direction: row;
    z-index: 100;
}

.topbar ul {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topbar li {
    font-family: 'Open Sans', sans-serif;
    margin-left: 35px;
    font-size: small;
}

.blu-button {
    background-color: #0061ff;
    color: #fff;
    padding: 5px 10px;
    border: none;
}
.jumbotron {
    height: 550px;
    margin: 0 auto;
    background-color: #b4d0e7;
    padding-top: 35px;
}

.titolo {
    text-align: center;
    font-size: 29px;
}

.container {
    display: flex;
    justify-content: center;   
    flex-direction: row;
    padding-top: 30px;

}
.cont-jumbotron {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;  
    gap: 20px;
    font-size: 15px;
    font-weight: lighter;
}

.cont-jumbotron i {
    font-size: 50px;
}

.img-jumbotron {
    width: 100%;
    height: 100%;
    max-width: 750px;
}

.button-jumbotron {
    background-color: #0061ff;
    color: #fff;
    padding: 5px;
    border: none;
    width: 200px;
}

/* MAIN */
.container-main {
    /* debug */
    height: 3000px;
}
/* FOOTER */

footer {
    background-color: black;
}

.container-footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.list-footer {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.list-footer li {
    color: #fff;
    font-size: small;
    list-style-type: none;
    margin-top: 15px;
   

}

.column {
    padding: 10px;
}

.titolo-footer {
    color: #fff;
}

#linea-footer {
    width: 90px;
    margin-left: 120px;
    color: #fff;
}

.linea-footer {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    padding-top: 70px;
    padding-bottom: 70px;

}

.bottom-footer {
    color: #fff;
    display: flex;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.container-1 {
    max-width: 1000px;
    margin: 150px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.checkbox {
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
}

.container-main {
    max-width: 1600px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: calc(100% / 3);
    }

.column-main {
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}